//-
	Подключение скриптов и стилей

script( src=src.js+'jquery.js' )

link( rel="stylesheet", href=src.css+'public.css' )
script( src=src.js+'public.js' )

link( rel="stylesheet", href=src.css+'fonts.css' )

script( src=src.js+"superembed.js" )